body {
  margin: 0;
  padding: 0;
  font-family: Urbanist, sans-serif !important;
  /* background-color: darkslategrey;
  background: linear-gradient(to left, darkslategrey, rgba(0, 0, 0, 0.8)); */
}
